@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my ToDo list Web App</h1>
    <p>Welcome to my Todo web app! This web app is built using C# and the ASP.NET MVC framework, and utilizes the built-in identity authentication modules. To access the full functionality of the site, including creating and managing your todo lists, you will need to register and log in. Your account information is kept secure and protected, and will allow you to access your todo lists from any device.</p>
    <p>Click the ToDoWebApp at the top left of the screen to see your ToDo list.</p>
</div>
